## Imports

In [ ]:
import pandas as pd

### Data Source

In [ ]:
https://www.bls.gov/cex/tables/geographic/mean.htm

In order to get the data in a code readable format I had to download the 25 different excel sheets in the data folder and then manually combine them into one large file, as well as do manual transposition of the table and some additional clean up

In [4]:
   excel_file = 'Damn.xlsx'  # Replace with your file path
   df = pd.read_excel(excel_file)
   print(df)

    Table 1203. Income before taxes: Annual expenditure means, shares, standard errors, and relative standard errors, Consumer Expenditure Surveys, 2023  \
0                                                  NaN
1                                                 Item
2          Number of consumer units (in thousands) a/
3                                                  NaN
4                       Consumer unit characteristics:
..                                                 ...
669                                e No data reported.
670                                                NaN
671                                                NaN
672                                                NaN
673  Source: Consumer Expenditure Surveys, U.S. Bur...

               Unnamed: 1           Unnamed: 2            Unnamed: 3  \
0                     NaN                  NaN                   NaN
1    All\nconsumer\nunits  Less\nthan\n$15,000  $15,000\nto\n$29,999
2                  134556                11492                 17114
3                     NaN                  NaN                   NaN
4                     NaN                  NaN                   NaN
..                    ...                  ...                   ...
669                   NaN                  NaN                   NaN
670                   NaN                  NaN                   NaN
671                   NaN                  NaN                   NaN
672                   NaN                  NaN                   NaN
673                   NaN                  NaN                   NaN

               Unnamed: 4            Unnamed: 5            Unnamed: 6  \
0                     NaN                   NaN                   NaN
1    $30,000\nto\n$39,999  $40,000\nto\n$49,999  $50,000\nto\n$69,999
2                   11137                  9814                 17068
3                     NaN                   NaN                   NaN
4                     NaN                   NaN                   NaN
..                    ...                   ...                   ...
669                   NaN                   NaN                   NaN
670                   NaN                   NaN                   NaN
671                   NaN                   NaN                   NaN
672                   NaN                   NaN                   NaN
673                   NaN                   NaN                   NaN

               Unnamed: 7              Unnamed: 8              Unnamed: 9  \
0                     NaN                     NaN                     NaN
1    $70,000\nto\n$99,999  $100,000\nto\n$149,999  $150,000\nto\n$199,999
2                   18939                   22396                   11237
3                     NaN                     NaN                     NaN
4                     NaN                     NaN                     NaN
..                    ...                     ...                     ...
669                   NaN                     NaN                     NaN
670                   NaN                     NaN                     NaN
671                   NaN                     NaN                     NaN
672                   NaN                     NaN                     NaN
673                   NaN                     NaN                     NaN

             Unnamed: 10
0                    NaN
1    $200,000\nand\nmore
2                  15359
3                    NaN
4                    NaN
..                   ...
669                  NaN
670                  NaN
671                  NaN
672                  NaN
673                  NaN

[674 rows x 11 columns]

C:\Users\dewan\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")